<div class="px-5">
  <div class="card p-3 d-flex flex-row" style="">
    <div class="card-img-div">
       <%= gravatar_for @user, size: 300 %>
    </div>
    <div class="card-body">
      <div class="d-flex">
        <h2 class="card-title mx-auto"><strong><%= @user.username %></strong></h2>
        <% if current_user == @user %> 
          <%= link_to edit_user_settings_path do%>
            <h2 class="ms-auto"><i class="bi bi-gear" ></i></h2>
          <% end %>
        <% end %>
      </div>
      
      <p class="card-text"><%= display_birthdate @user %></p>
      <p class="card-text"><%= @user.biography %></p>
      <% if current_user == @user %>
        <%= link_to edit_user_profile_path do%>
          <button class="btn btn-primary">
            <i class="bi bi-pencil-square"></i>
            Edit Profile
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <% if current_user != @user %>
    <%= link_to friendships_path do%>
      <button class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i>
        Back
      </button>
    <% end %>
  <% else %>
    <%= link_to root_path do%>
      <button class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i>
        Back
      </button>
    <% end %>
  <% end %>
</div>
