<%= turbo_frame_tag "new_room", target: "_top" do %>
  <%= form_with(model: room) do |form| %>
    <% if room.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

        <ul>
          <% room.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control'%>

    <div class="btn-group btn-group-vertical" data-toggle="buttons">
      <%= form.collection_check_boxes(:user_ids, current_user.friends, :id, :username) do |user| %>
        <label class="btn" for="room_user_ids_<%= user.object.id %>">
          <%= user.check_box %>
          <i class="bi bi-app"></i>
          <i class="bi bi-check2-square"></i>
          <span><%= user.text %></span>
        </label>
      <% end %>
    </div>
    
    <%= form.submit "Create Room", class: "btn btn-primary"  %>
  <% end %>
<% end %>
