<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control'%>


  <%= form.collection_check_boxes(:user_ids, current_user.friends, :id, :username) do |user| %>
    <%= user.label class: "d-block pb-1" do %>
      <%= user.check_box %>
      <%= user.text %>
    <% end %>
  <% end %>
  <%= form.submit "Create Room", class: "btn btn-primary"  %>
<% end %>
