<%= turbo_frame_tag dom_id(Room.new), target: "_top" do %>
  <%= form_with(model: room) do |form| %>
    <% if room.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

        <ul>
          <% room.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control'%>
    
    <!-- 保持期間設定フィールド -->
    <div class="field">
      <%= form.label :retention_hours %>
      <%= form.number_field :retention_hours, in: 0..720, step: 1, value: 0, id: :room_retention_hours, class: 'form-control'%>
    </div>

    <div class="field">
      <%= form.label :retention_minutes %>
      <%= form.number_field :retention_minutes, in: 0..60, step: 1, value: 1, id: :room_retention_minutes, class: 'form-control'%>
    </div>

    <div class="btn-group btn-group-vertical">
      <%= form.collection_check_boxes(:user_ids, current_user.friends, :id, :username) do |user| %>
        <%= user.label class: 'btn d-flex align-items-center' do%>
          <%= user.check_box %>
          <i class="bi bi-app"></i>
          <i class="bi bi-check2-square"></i>
          <span class="px-1"><%= user.text %></span>
        <% end %>
      <% end %>
    </div>
    
    <%= form.submit "Create Room", class: "btn btn-primary"  %>
  <% end %>
<% end %>
