<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control'%>

    <% current_user.friendships.each do |friendship| %>
      <% friend = friendship.friend %>
      <div>
        <%= form.check_box friend %>
        <%= form.label friend, friend.username %>
      </div>
    <% end %>

    <%= form.submit "Create Room", class: "btn btn-primary"  %>
<% end %>
