<%= turbo_frame_tag room do %>
  <%= link_to room, data: { turbo_frame: "_top" }, class: "roomLink" do %>
    <div class="card m-2 p-2 d-flex flex-row">
      <div class="card-img-div pt-2">
        <figure class="icon-circle"><img src="https://picsum.photos/id/238/540/540" alt="roomicon"></figure>  
      </div>
      <div class="card-body">
        <h4>
          <strong>RoomName:</strong>
          <%= room.name %>
        </h4>
        <h4>
          <strong>id:</strong>
          <%= room.id %>
        </h4>
        <h4 id="latest-message">
          <!-- 最新のメッセージを表示 TODO: turboを使ってメッセージ送信をトリガーにリアルタイムで並び替える -->
          <% latest_message = room.messages.last %>
          <%= latest_message&.content %>
        </h4>
      </div>
    </div>
  <% end %>
<% end %>
