<%= turbo_frame_tag room do %>
  <%= link_to room, data: { turbo_frame: "_top" }, class: "roomLink" do %>
    <div class="card m-2 p-2 d-flex flex-row">
      <div class="card-img-div pt-2">
        <figure class="icon-circle"><img src="https://picsum.photos/id/238/540/540" alt="roomicon"></figure>  
      </div>
      <div class="card-body">
        <h4>
          <strong>RoomName:</strong>
          <%= room.name %>
        </h4>
        <div class="d-flex justify-content-between" id="latest-message"> 
          
          <% latest_message = room.messages.last %>
          <!-- retention_minutesが設定されていない場合の対処のため -->
          <% if room.retention_minutes %>
            <% retention_time = Time.now.in_time_zone - room.retention_minutes.minutes %>
          <% else %>
            <% retention_time = Time.now.in_time_zone - 100.years %>
          <% end %>

          <% if latest_message && latest_message.created_at > retention_time %>
            <h4>
              <%= latest_message.content %>
            </h4>
            <p>
              <%= format_date(latest_message&.created_at) %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
