<p style="color: green"><%= notice %></p>

<%= turbo_stream_from @room %>

<!-- ルームアクション -->
<div id="room-actions" class="mb-3 text-right">
  <%= turbo_frame_tag "room" do %>
    <%= render @room %>

    <%= link_to 'Edit', edit_room_path(@room), class: "btn btn-outline-primary btn-sm" %>
    <%= link_to root_path, "data-turbo-frame": "_top" do%>
      <button class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i>
        ホームへ戻る
      </button>
    <% end %>
    <%= button_to "Destroy this room", @room, method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: "本当に削除しますか？", turbo: false  } %>
  <% end %>
</div>

<!-- メッセージリスト -->
<div id="messages" class="border rounded messages-container">
  <%= render @room.messages %>
</div>


<!-- 新規メッセージ入力 -->
<%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top" %>

<style>
.message-<%= current_user.id %> {
  background-color: hwb(120deg 30.02% 25.47%);
  border-radius: 7.5px;
  margin-bottom: 8px;
  padding: 6px 12px;
  max-width: 80%;
  word-wrap: break-word;
  float: right;
  clear: both;
}

.message_box:not(.message-<%= current_user.id %>) {
  background-color: #ffffff;
  border-radius: 7.5px;
  margin-bottom: 8px;
  padding: 6px 12px;
  max-width: 80%;
  float: left;
  clear: both;
  word-wrap: break-word;
}
</style>
