<%= turbo_stream_from @room %>

<!-- ルームアクション -->
<div id="room-actions" class="mb-3">
  <%= turbo_frame_tag "room" do %>
    <div class="room-actions-container">
      <%= link_to root_path, "data-turbo-frame": "_top" do %>
        <button class="btn btn-outline-secondary btn-sm">
          <i class="bi bi-arrow-left"></i>
          Back
        </button>
      <% end %>
      <%= link_to 'Edit', edit_room_path(@room), class: "btn btn-outline-primary btn-sm" %>
      <div class="actions-right">
        <%= button_to "Destroy this room", @room, method: :delete, class: "btn btn-outline-danger btn-sm", data: { turbo_confirm: "Would you like to delete this room?", turbo_frame: '_top' } %>
    </div>
  <% end %>
</div>

<!-- 保持期間表示、絶対位置指定でボタン群の右上に配置 -->
<div class="d-flex justify-content-end mt-1">
  <% if @room.retention_minutes.present? %>
    <% hours = @room.retention_minutes / 60 %>
    <% minutes = @room.retention_minutes % 60 %>
    <span class="badge bg-secondary text-white">
      Message Expiration Time: 
      <span class="expiration-time"><%= sprintf('%02d:%02d:%02d', hours, minutes, 00) %></span>
  <% else %>
    <span class="badge bg-secondary text-white">Message Expiration Time: -</span>
  <% end %>
</div>

<!-- メッセージリスト -->
<div id="messages" class="border rounded messages-container mt-1">
  <%= render @messages %>
</div>


<!-- 新規メッセージ入力 -->
<%= turbo_frame_tag dom_id(Message.new), src: new_room_message_path(@room), target: "_top" %>

<style>
#messages {
  padding: 5px;
}

.message-<%= current_user.id %> {
  background-color: hwb(120deg 30.02% 25.47%);
  border-radius: 7.5px;
  margin-bottom: 8px;
  padding: 6px 12px;
  max-width: 80%;
  word-wrap: break-word;
  float: right;
  clear: both;
}

.message_box:not(.message-<%= current_user.id %>) {
  background-color: #ffffff;
  border-radius: 7.5px;
  margin-bottom: 8px;
  padding: 6px 12px;
  max-width: 80%;
  float: left;
  clear: both;
  word-wrap: break-word;
}

.room-actions-container {
  display: flex;
  align-items: center;
}

.actions-right {
  margin-left: auto;
}
</style>
